h1 {
    text-align: center;
    padding: 2vw;
    font-family: 'Young Serif', serif;
    color: black;
    font-size: larger;
    -webkit-text-stroke: 2px red;
}

h3 {
    text-align: center;
    padding: 2vw;
    font-family: 'Young Serif', serif;
    font-size: larger;
    -webkit-text-stroke: 0.5px red;
}

.form-label {
    font-family: 'Young Serif', serif;
}

.containerForm {
    display: flex;
    justify-content: space-around;
    align-items: start;

}

.form-label {
    width: 30vw;
}


body {
    background: url('img/fundo.png'), #6DB3F2;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-size: cover;
}

input {
    color: white;
}

.containerButton{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btnOne{
    font-size: 1rem;
    border-radius: .6rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
}
label{
    font-size: 1.5rem;
    font-style: italic;
    color: #000;
    -webkit-text-stroke: 0.5px red;
}
#containerButtons{
    display: flex;
}
#textRotacao{
    width: 30vw;
    text-align: center;
    text-justify: center;
}
#textAvanco{
    width: 30vw;
    text-align: center;
    text-justify: center;
}
#textContainer1{
    color: white;
    font-size:3rem;
    -webkit-text-stroke: 2px green;
}
#textContainer2{
    color: white;
    font-size:3rem;
    -webkit-text-stroke: 2px green;
}
